.background {
  background-image: url("IMG/rock.jpg");
  background-repeat: repeat-y;
  height: 50px;
}

.welcome h1 {
  font-weight: bold;
  font-size: 40px;
  font-family:'Courier New', Courier, monospace;
  background-color: whitesmoke;
  align-content: center;
}

.welcome h2 {
  font-weight: normal;
  font-size: 30px;
  font-family:'Courier New', Courier, monospace;
  align-content: center;
}